/* COLORS */
:root {
  --primary-color: #14130f;
  --secondary-color: #92a6b7;

  --background-color: #f4f4f4;
  --tile-color: white;
  --shadow-color: #333;

  --text-color-dark: #333;
  --text-color-light: #fff;

  --danger-color: #f44336;
  --warning-color: #ff9800;
  --info-color: #00bcd4;
  --success-color: #8bc34a;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
